@page "/habits"

<MudContainer>
    <MudPaper>
        <MudText Typo="Typo.h4">Your Habits</MudText>
        <MudTable Items="Habits" Hover="true" Breakpoint="Breakpoint.Sm">
            <ColGroup>
                <col style="width:300px" />
                <col style="width:100px" />
                <col />
                <col style="width:100px" />
            </ColGroup>
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Description</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(()=>ShowBtnPress(context.Id))">
                        @((@showRoutine == true) ? "Hide" : "Show") Routines
                    </MudButton>
                </MudTd>
                <MudTd DataLabel="Name"><strong>@context.Title</strong></MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (@showRoutine)
                {
                    <MudTr>
                        <td colspan="4">
                            <MudCard Elevation="0">
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body1">Routines for <strong>@context.Title</strong></MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent Class="pa-0">
                                    <MudTable Items="@ViewableRoutines" Context="RoutineContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                        <ColGroup>
                                            <col>
                                            <col>
                                            <col style="width:200px">
                                        </ColGroup>
                                        <HeaderContent>
                                            <MudTh>Name</MudTh>
                                            <MudTh>Description</MudTh>
                                            <MudTh>Future Edit Button</MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd DataLabel="RoutineName">@RoutineContext.Title</MudTd>
                                            <MudTd DataLabel="RoutineDescription">@RoutineContext.Description</MudTd>
                                            <MudTd></MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
        </MudTable>
    </MudPaper>
</MudContainer>






<h1 class="page-title">Habits</h1>

@if (Habits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Habit</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var habit in Habits)
        {
            <tr>
                <td>@habit.Title</td>
                <td>@habit.Description</td>
                <td>
                    <a href="@($"habitdetail/{habit.Id}")" class="btn btn-outline-primary table-btn">View Habit</a>
                    <a href="@($"habitedit/{habit.Id}")" class="btn btn-outline-info table-btn">Edit Habit</a>
                </td>
            </tr>
        }
        <a class="btn btn-primary" href="habitadd" role="button">Add new Habit</a>
    </tbody>
</table>
}
