@page "/habiteventedit/{habiteventid}"

<h1 class="page-title">Edit @HabitEvent.Title</h1>

<div class="col-10 row">
    <section class="habit-edit">
        <h1 class="page-title">Edit</h1>
        <EditForm Model = "@HabitEvent" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group-row">
                <label for="habitName" class="col-sm-3">New Routine Name:</label>
                <InputText id="habitName" class="form-control col-sm-8" @bind-Value="@HabitEvent.Title" placeholder="Enter Habit title"></InputText>
            </div>
            <div class="form-group-row">
                <label for="habitDescription" class="col-sm-3">Routine Description:</label>
                <InputText id="habitDescription" class="form-control col-sm-8" @bind-Value="@HabitEvent.Description" placeholder="A brief description"></InputText>
            </div>
             <div class="form-group row">
		        <label for="effectivedate" class="col-sm-3">Completed On: </label>
		        <InputDate id="effectivedate" class="form-control col-sm-8" @bind-Value="@HabitEvent.EffectiveDate" placeholder="Select date"></InputDate>
	        </div>
            <button type="submit" class="btn btn-primary edit-btn">Save Event</button>
        </EditForm>
    </section>
	<div class="col-xs-12 col-sm-4">
		<button type="button" class="btn btn-outline-danger" @onclick="DeleteHabitEvent">Delete Event</button>
	</div>
</div>