@page "/habitedit/{habitid}"

<h1 class="page-title">Edit @Habit.Title</h1>

<div class="col-10 row">
    <section class="habit-edit">
        <h1 class="page-title">Edit</h1>
        <EditForm Model = "@Habit" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group-row">
                <label for="habitName" class="col-sm-3">New Habit Name:</label>
                <InputText id="habitName" class="form-control col-sm-8" @bind-Value="@Habit.Title" placeholder="Enter Habit title"></InputText>
            </div>
            <div class="form-group-row">
                <label for="habitDescription" class="col-sm-3">Habit Description:</label>
                <InputText id="habitDescription" class="form-control col-sm-8" @bind-Value="@Habit.Description" placeholder="A brief description"></InputText>
            </div>
            <button type="submit" class="btn btn-primary edit-btn">Save Habit</button>
        </EditForm>
    </section>
	<div class="col-xs-12 col-sm-4">
		<button type="button" class="btn btn-outline-danger" @onclick="DeleteHabit">Delete Habit</button>
	</div>
</div>