@page "/habitroutineadd/{HabitId}"

@if (!Saved)
{
    <section class="habit-edit">
        <h1 class="page-title">Add Routine</h1>
        <EditForm Model = "@HabitRoutine" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group-row">
                <label for="habitName" class="col-sm-3">New Routine Name:</label>
                <InputText id="habitName" class="form-control col-sm-8" @bind-Value="@HabitRoutine.Title" placeholder="Enter Routine title"></InputText>
            </div>
            <div class="form-group-row">
                <label for="habitDescription" class="col-sm-3">Routine Description:</label>
                <InputText id="habitDescription" class="form-control col-sm-8" @bind-Value="@HabitRoutine.Description" placeholder="A brief description"></InputText>
            </div>
            <button type="submit" class="btn btn-primary edit-btn">Save Routine</button>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@StatusMessage</div>
}